@using WebApplication3.Models.ViewModels;
@model AddCarViewModel




<form asp-controller="Car" asp-action="AddCar" method="post">
    <div class="mb-3 mrgn">
        <label for="Make" class="form-label fgwhite">Make:</label>
        <span class="fgred text-danger" asp-validation-for="@Model.Make"></span><br />
        <input class="form-control" asp-for="@Model.Make">

        <label for="Model" class="form-label fgwhite">Model:</label>
        <span class="fgred text-danger" asp-validation-for="@Model.Model"></span><br />
        <input class="form-control" asp-for="@Model.Model">

        <label for="Price" class="form-label fgwhite">Price:</label>
        <span class="fgred text-danger" asp-validation-for="@Model.Price"></span><br />
        <input class="form-control" asp-for="@Model.Price">

        <label for="Year" class="form-label fgwhite">Year:</label>
        <span class="fgred text-danger" asp-validation-for="@Model.Year"></span><br />
        <input class="form-control" asp-for="@Model.Year">

        <label for="Color" class="form-label fgwhite">Color:</label>
        <span class="fgred text-danger" asp-validation-for="@Model.Color"></span><br />
        <input class="form-control" asp-for="@Model.Color">

        <label for="EngineSize" class="form-label fgwhite">EngineSize:</label>
        <span class="fgred text-danger" asp-validation-for="@Model.EngineSize"></span><br />
        <input class="form-control" asp-for="@Model.EngineSize">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>