@model List<Car>


@if (Model is not null)
{
    <div class="d-flex align-content-center flex-wrap">
        @foreach (var car in Model)
        {
            <div class="card border-secondary text-center m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@car.Make</h5>
                    <p class="card-text">Id: @car.Id</p>
                    <p class="card-text">Model: @car.Model</p>
                    <p class="card-text">Price: @car.Price</p>
                    <p class="card-text">Year: @car.Year</p>
                    <p class="card-text">Engine Size: @car.EngineSize</p>
                    <p class="card-text">Color: @car.Color</p>
                    <a asp-action="DeleteCar" asp-route-id="@car.Id" class="btn btn-primary">Delete</a>
                </div>
            </div>
        }
    </div>
}
else {
    <div>
        <p class="text-center fs-1 fw-bold">Car Is Not Found</p>
        Car IS Not Found
    </div>
}
